
Lesson 4/.idea/inspectionProfiles/profiles_settings.xml
Lesson 4/.idea/Lesson 4.iml
Lesson 4/.idea/misc.xml
Lesson 4/.idea/modules.xml
Lesson 4/__pycache__/model_1.cpython-36.pyc
Lesson 4/.idea/workspace.xml
